@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root {
  --purple: #4c3b4d;
  --green: #61c9a8;
  --red: #a53860;
  --creme: #ffeedb;
  --silver: #ada8b6;
}

/*Styles*/
html, body {
  margin: 0;
  background-color: var(--purple);
  color: var(--green);
  font-family: 'Dancing Script', cursive !important;
}

.section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.section:nth-child(1){
  background-color: var(--purple);
}
.section:nth-child(2){
	background: #e6ffff;
	width: 100vw;
	 height: 100vh;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 overflow: hidden;
}
.section:nth-child(3){
  background-color: var(--creme);
}
h1 {
  font-size: 70px;
}
h1.purple {
  color: var(--purple);
}
.section:not(:first-child) h1 {
  opacity: 0;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 1px;
	font-family: 'Amatic SC', cursive !important;
}

.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


.card {
	color: #013243; /*SHERPA BLUE*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 400px;
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #BAC1BA;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #92A29C;
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position: absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox img {
	min-width: 250px;
	max-height: 400px;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 70px;
}

.card .details p {
	font-size: 15px;
	line-height: 5px;
	transform: rotate(-10deg);
	padding: 0 0 0 20px;
}

.card .details h4 {
	text-align: center;
}

.text-right {
	text-align: right;
}



//////////////////////////////////////////////////////////**//////////////////////////////////////////////////////////////////////////////////////**////////////////////////////
//////////////////////////////////////////////////////////**//////////////////////////////////////////////////////////////////////////////////////**////////////////////////////

.duc {
	 position: relative;
	 width: 15vh;
    height: 35vh;
	 background: linear-gradient(to bottom, #96c7cc 0%, #c3ddd8 30%, #c3ddd8 100%);
	 border-radius: 100px;
	 overflow: hidden;
}
 .gradientContainer {
	 margin-top: 95px;
	 height: 300px;
	 overflow: hidden;
	 background: linear-gradient(to bottom, #c3e5e5, #0d3f53);
	 position: absolute;
	 z-index: 200;
}
 .overlay {
	 width: 100%;
	 height: 240px;
	 position: absolute;
}
 .overlay.one {
	 background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, #0b4558 100%);
	 z-index: 100;
}
 .gradient {
	 margin-top: -100px;
	 width: 620px;
	 height: 400px;
	 transform: translateX(-50px) rotate(20deg);
	 animation-name: gradient;
	 animation-duration: 10s;
	 animation-iteration-count: infinite;
	 animation-fill-mode: forwards;
	 animation-timing-function: linear;
	 transform-style: preserve-3d;
}
 @keyframes gradient {
	 0% {
		 transform: translateX(-50px) rotate(20deg);
	}
	 100% {
		 transform: translateX(-379px) rotate(20deg);
	}
}
 .ray1 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 3s;
	 animation-delay: 4s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray2 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 1s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray3 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 4s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray4 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 4s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray5 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 4s;
	 animation-delay: 4s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray6 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 3s;
	 animation-delay: 2s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray7 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 2s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray8 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 3s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray9 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 3s;
	 animation-delay: 3s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray10 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 2s;
	 animation-delay: 4s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray11 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 3s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray12 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 1s;
	 animation-delay: 3s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray13 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 2s;
	 animation-delay: 3s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray14 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 1s;
	 animation-delay: 4s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray15 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 2s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray16 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 1s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray17 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 2s;
	 animation-delay: 4s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray18 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 3s;
	 animation-delay: 3s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray19 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 1s;
	 animation-delay: 2s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray20 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 1s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray21 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 2s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray22 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 4s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray23 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 3s;
	 animation-delay: 2s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray24 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 1s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray25 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 3s;
	 animation-delay: 4s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 .ray26 {
	 height: 400px;
	 display: inline-block;
	 animation-name: blinkRay;
	 animation-duration: 2s;
	 animation-delay: 1s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
	 opacity: 1;
}
 @keyframes blinkRay {
	 0% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0.4;
	}
}
 .ray1, .ray14, .ray27 {
	 width: 20px;
	 background: linear-gradient(to bottom, #afe0e4 0%, #afe0e4 40%, rgba(255, 255, 255, 0) 100%);
}
 .ray2, .ray15, .ray28 {
	 width: 20px;
	 background: linear-gradient(to bottom, #c0e6e9 0%, #c0e6e9 30%, rgba(255, 255, 255, 0) 100%);
}
 .ray3, .ray16, .ray29 {
	 width: 15px;
	 background: linear-gradient(to bottom, #84cdd4 0%, #84cdd4 20%, rgba(255, 255, 255, 0) 100%);
}
 .ray4, .ray17, .ray30 {
	 width: 5px;
	 background: linear-gradient(to bottom, #7ec9d1 0%, #7ec9d1 10%, rgba(255, 255, 255, 0) 100%);
}
 .ray5, .ray18, .ray31 {
	 width: 10px;
	 background: linear-gradient(to bottom, #97d6dc 0%, #97d6dc 40%, rgba(255, 255, 255, 0) 100%);
}
 .ray6, .ray19, .ray32 {
	 width: 10px;
	 background: linear-gradient(to bottom, #aedee2 0%, #aedee2 30%, rgba(255, 255, 255, 0) 100%);
}
 .ray7, .ray20, .ray33 {
	 width: 10px;
	 background: linear-gradient(to bottom, #96d3d8 0%, #96d3d8 20%, rgba(255, 255, 255, 0) 100%);
}
 .ray8, .ray21, .ray34 {
	 width: 5px;
	 background: linear-gradient(to bottom, #9cd7dd 0%, #9cd7dd 40%, rgba(255, 255, 255, 0) 100%);
}
 .ray9, .ray22, .ray35 {
	 width: 25px;
	 background: linear-gradient(to bottom, #7ecbd3 0%, #7ecbd3 60%, rgba(255, 255, 255, 0) 100%);
}
 .ray10, .ray23, .ray36 {
	 width: 10px;
	 background: linear-gradient(to bottom, #97d6dc 0%, #97d6dc 50%, rgba(255, 255, 255, 0) 100%);
}
 .ray11, .ray24, .ray37 {
	 width: 10px;
	 background: linear-gradient(to bottom, #aedee2 0%, #aedee2 40%, rgba(255, 255, 255, 0) 100%);
}
 .ray12, .ray25, .ray38 {
	 width: 10px;
	 background: linear-gradient(to bottom, #96d3d8 0%, #96d3d8 20%, rgba(255, 255, 255, 0) 100%);
}
 .ray13, .ray26, .ray39 {
	 width: 5px;
	 background: linear-gradient(to bottom, #9cd7dd 0%, #9cd7dd 10%, rgba(255, 255, 255, 0) 100%);
}
 .cPos {
	 position: relative;
	 top: 30%;
	 left: calc(50% - 80px);
	 z-index: 9;
	 transform: translateY(0) scale(1);
	 animation-name: sunset;
	 animation-duration: 10s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
}
 @keyframes sunset {
	 0% {
		 transform: translateY(0) scale(1);
	}
	 100% {
		 transform: translateY(10px) scale(0.9);
	}
}
 .cc {
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .circle {
	 position: absolute;
	 background: #fbfef9;
	 border-radius: 50%;
}
 .circle.one {
	 width: 160px;
	 height: 160px;
	 opacity: 0.2;
}
 .circle.two {
	 width: 130px;
	 height: 130px;
	 opacity: 0.2;
}
 .circle.three {
	 width: 100px;
	 height: 100px;
	 opacity: 0.2;
}
 .circle.four {
	 width: 70px;
	 height: 70px;
}
 .rocks {
	 position: relative;
	 z-index: 2000;
}
 .rocks .rock {
	 position: absolute;
}
 .rocks .rock.one {
	 top: 280px;
	 left: -30px;
	 width: 98px;
	 height: 50px;
	 clip-path: polygon(0 0, 56% 10%, 80% 100%, 0% 100%);
	 background: #02364b;
	 z-index: 2000;
}
 .rocks .rock.two {
	 top: 295px;
	 left: 30px;
	 width: 95px;
	 height: 60px;
	 clip-path: polygon(0 15%, 20% 10%, 100% 70%, 100% 100%, 0% 100%);
	 background: #063b51;
	 z-index: 1000;
}
 .rocks .rock.three {
	 top: 300px;
	 left: 50px;
	 width: 95px;
	 height: 60px;
	 clip-path: polygon(0 60%, 60% 20%, 100% 12%, 100% 100%, 0 100%);
	 background: #002c44;
	 z-index: 3000;
}
 .rocks .rock.four {
	 top: 255px;
	 left: 125px;
	 width: 60px;
	 height: 65px;
	 clip-path: polygon(0 100%, 20% 45%, 100% 12%, 100% 100%, 0 100%);
	 background: #023a51;
	 z-index: 4000;
}
 .bubbleContainer {
	 width: 100%;
	 height: 100px;
	 bottom: 0;
	 position: absolute;
	 animation-name: bubblesIn;
	 animation-duration: 2s;
	 animation-iteration-count: 1;
	 animation-timing-function: linear;
}
 @keyframes bubblesIn {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
 .bubbleX1 {
	 display: inline-block;
	 width: 3px;
	 height: 3px;
	 border-radius: 50%;
	 background: #fff;
	 transform: translateX(0);
	 animation-name: bubbleX1;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .bubbleY1 {
	 display: inline-block;
	 position: absolute;
	 z-index: 5000;
	 top: 12px;
	 left: 71px;
	 animation-name: bubbleY;
	 animation-duration: 1.25s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 transform: translateY(0);
	 opacity: 0.6;
	 animation-delay: 3s;
}
 @keyframes bubbleX1 {
	 0% {
		 transform: translateX(0);
	}
	 20% {
		 transform: translateX(9px);
	}
	 40% {
		 transform: translateX(14px);
	}
	 60% {
		 transform: translateX(6px);
	}
	 80% {
		 transform: translateX(12px);
	}
	 100% {
		 transform: translateX(14px);
	}
}
 @keyframes bubbleY {
	 0% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-30px);
	}
	 100% {
		 transform: translateY(-60px);
		 opacity: 0;
	}
}
 .bubbleX2 {
	 display: inline-block;
	 width: 4px;
	 height: 4px;
	 border-radius: 50%;
	 background: #fff;
	 transform: translateX(0);
	 animation-name: bubbleX2;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .bubbleY2 {
	 display: inline-block;
	 position: absolute;
	 z-index: 5000;
	 top: 74px;
	 left: 12px;
	 animation-name: bubbleY;
	 animation-duration: 1.25s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 transform: translateY(0);
	 opacity: 0.6;
	 animation-delay: 3s;
}
 @keyframes bubbleX2 {
	 0% {
		 transform: translateX(0);
	}
	 20% {
		 transform: translateX(14px);
	}
	 40% {
		 transform: translateX(11px);
	}
	 60% {
		 transform: translateX(15px);
	}
	 80% {
		 transform: translateX(12px);
	}
	 100% {
		 transform: translateX(12px);
	}
}
 @keyframes bubbleY {
	 0% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-30px);
	}
	 100% {
		 transform: translateY(-60px);
		 opacity: 0;
	}
}
 .bubbleX3 {
	 display: inline-block;
	 width: 4px;
	 height: 4px;
	 border-radius: 50%;
	 background: #fff;
	 transform: translateX(0);
	 animation-name: bubbleX3;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .bubbleY3 {
	 display: inline-block;
	 position: absolute;
	 z-index: 5000;
	 top: 90px;
	 left: 139px;
	 animation-name: bubbleY;
	 animation-duration: 1.25s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 transform: translateY(0);
	 opacity: 0.6;
	 animation-delay: 2s;
}
 @keyframes bubbleX3 {
	 0% {
		 transform: translateX(0);
	}
	 20% {
		 transform: translateX(6px);
	}
	 40% {
		 transform: translateX(1px);
	}
	 60% {
		 transform: translateX(10px);
	}
	 80% {
		 transform: translateX(3px);
	}
	 100% {
		 transform: translateX(15px);
	}
}
 @keyframes bubbleY {
	 0% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-30px);
	}
	 100% {
		 transform: translateY(-60px);
		 opacity: 0;
	}
}
 .bubbleX4 {
	 display: inline-block;
	 width: 2px;
	 height: 2px;
	 border-radius: 50%;
	 background: #fff;
	 transform: translateX(0);
	 animation-name: bubbleX4;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .bubbleY4 {
	 display: inline-block;
	 position: absolute;
	 z-index: 5000;
	 top: 97px;
	 left: 8px;
	 animation-name: bubbleY;
	 animation-duration: 1.25s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 transform: translateY(0);
	 opacity: 0.6;
	 animation-delay: 3s;
}
 @keyframes bubbleX4 {
	 0% {
		 transform: translateX(0);
	}
	 20% {
		 transform: translateX(4px);
	}
	 40% {
		 transform: translateX(1px);
	}
	 60% {
		 transform: translateX(8px);
	}
	 80% {
		 transform: translateX(9px);
	}
	 100% {
		 transform: translateX(13px);
	}
}
 @keyframes bubbleY {
	 0% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-30px);
	}
	 100% {
		 transform: translateY(-60px);
		 opacity: 0;
	}
}
 .bubbleX5 {
	 display: inline-block;
	 width: 2px;
	 height: 2px;
	 border-radius: 50%;
	 background: #fff;
	 transform: translateX(0);
	 animation-name: bubbleX5;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .bubbleY5 {
	 display: inline-block;
	 position: absolute;
	 z-index: 5000;
	 top: 18px;
	 left: 77px;
	 animation-name: bubbleY;
	 animation-duration: 1.25s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 transform: translateY(0);
	 opacity: 0.6;
	 animation-delay: 2s;
}
 @keyframes bubbleX5 {
	 0% {
		 transform: translateX(0);
	}
	 20% {
		 transform: translateX(14px);
	}
	 40% {
		 transform: translateX(4px);
	}
	 60% {
		 transform: translateX(9px);
	}
	 80% {
		 transform: translateX(14px);
	}
	 100% {
		 transform: translateX(7px);
	}
}
 @keyframes bubbleY {
	 0% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-30px);
	}
	 100% {
		 transform: translateY(-60px);
		 opacity: 0;
	}
}
 .bubbleX6 {
	 display: inline-block;
	 width: 4px;
	 height: 4px;
	 border-radius: 50%;
	 background: #fff;
	 transform: translateX(0);
	 animation-name: bubbleX6;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .bubbleY6 {
	 display: inline-block;
	 position: absolute;
	 z-index: 5000;
	 top: 30px;
	 left: 133px;
	 animation-name: bubbleY;
	 animation-duration: 1.25s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 transform: translateY(0);
	 opacity: 0.6;
	 animation-delay: 3s;
}
 @keyframes bubbleX6 {
	 0% {
		 transform: translateX(0);
	}
	 20% {
		 transform: translateX(13px);
	}
	 40% {
		 transform: translateX(9px);
	}
	 60% {
		 transform: translateX(9px);
	}
	 80% {
		 transform: translateX(5px);
	}
	 100% {
		 transform: translateX(5px);
	}
}
 @keyframes bubbleY {
	 0% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-30px);
	}
	 100% {
		 transform: translateY(-60px);
		 opacity: 0;
	}
}
 .bubbleX7 {
	 display: inline-block;
	 width: 4px;
	 height: 4px;
	 border-radius: 50%;
	 background: #fff;
	 transform: translateX(0);
	 animation-name: bubbleX7;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .bubbleY7 {
	 display: inline-block;
	 position: absolute;
	 z-index: 5000;
	 top: 95px;
	 left: 66px;
	 animation-name: bubbleY;
	 animation-duration: 1.25s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 transform: translateY(0);
	 opacity: 0.6;
	 animation-delay: 3s;
}
 @keyframes bubbleX7 {
	 0% {
		 transform: translateX(0);
	}
	 20% {
		 transform: translateX(8px);
	}
	 40% {
		 transform: translateX(1px);
	}
	 60% {
		 transform: translateX(1px);
	}
	 80% {
		 transform: translateX(1px);
	}
	 100% {
		 transform: translateX(12px);
	}
}
 @keyframes bubbleY {
	 0% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-30px);
	}
	 100% {
		 transform: translateY(-60px);
		 opacity: 0;
	}
}
 .bubbleX8 {
	 display: inline-block;
	 width: 5px;
	 height: 5px;
	 border-radius: 50%;
	 background: #fff;
	 transform: translateX(0);
	 animation-name: bubbleX8;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .bubbleY8 {
	 display: inline-block;
	 position: absolute;
	 z-index: 5000;
	 top: 15px;
	 left: 11px;
	 animation-name: bubbleY;
	 animation-duration: 1.25s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 transform: translateY(0);
	 opacity: 0.6;
	 animation-delay: 3s;
}
 @keyframes bubbleX8 {
	 0% {
		 transform: translateX(0);
	}
	 20% {
		 transform: translateX(11px);
	}
	 40% {
		 transform: translateX(10px);
	}
	 60% {
		 transform: translateX(6px);
	}
	 80% {
		 transform: translateX(5px);
	}
	 100% {
		 transform: translateX(11px);
	}
}
 @keyframes bubbleY {
	 0% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-30px);
	}
	 100% {
		 transform: translateY(-60px);
		 opacity: 0;
	}
}
 .bubbleX9 {
	 display: inline-block;
	 width: 3px;
	 height: 3px;
	 border-radius: 50%;
	 background: #fff;
	 transform: translateX(0);
	 animation-name: bubbleX9;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .bubbleY9 {
	 display: inline-block;
	 position: absolute;
	 z-index: 5000;
	 top: 63px;
	 left: 138px;
	 animation-name: bubbleY;
	 animation-duration: 1.25s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 transform: translateY(0);
	 opacity: 0.6;
	 animation-delay: 1s;
}
 @keyframes bubbleX9 {
	 0% {
		 transform: translateX(0);
	}
	 20% {
		 transform: translateX(3px);
	}
	 40% {
		 transform: translateX(15px);
	}
	 60% {
		 transform: translateX(4px);
	}
	 80% {
		 transform: translateX(14px);
	}
	 100% {
		 transform: translateX(14px);
	}
}
 @keyframes bubbleY {
	 0% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-30px);
	}
	 100% {
		 transform: translateY(-60px);
		 opacity: 0;
	}
}
 .bubbleX10 {
	 display: inline-block;
	 width: 5px;
	 height: 5px;
	 border-radius: 50%;
	 background: #fff;
	 transform: translateX(0);
	 animation-name: bubbleX10;
	 animation-duration: 4s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .bubbleY10 {
	 display: inline-block;
	 position: absolute;
	 z-index: 5000;
	 top: 47px;
	 left: 118px;
	 animation-name: bubbleY;
	 animation-duration: 1.25s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 transform: translateY(0);
	 opacity: 0.6;
	 animation-delay: 2s;
}
 @keyframes bubbleX10 {
	 0% {
		 transform: translateX(0);
	}
	 20% {
		 transform: translateX(8px);
	}
	 40% {
		 transform: translateX(2px);
	}
	 60% {
		 transform: translateX(2px);
	}
	 80% {
		 transform: translateX(11px);
	}
	 100% {
		 transform: translateX(15px);
	}
}
 @keyframes bubbleY {
	 0% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-30px);
	}
	 100% {
		 transform: translateY(-60px);
		 opacity: 0;
	}
}
 .triangleContainer {
	 margin-top: 92px;
	 width: 1000px;
	 position: absolute;
	 z-index: 1000;
	 transform: translateX(-250px);
	 animation-name: triangles;
	 animation-duration: 5s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
}
 .triangleBar {
	 width: 1000px;
	 height: 6px;
	 position: absolute;
	 z-index: 1500;
	 background: linear-gradient(to bottom, #e7f9f3, #f5fff9);
}
 .triangle {
	 width: 50px;
	 height: 10px;
	 display: inline-block;
	 background: #edf7e7;
	 clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
}
 @keyframes triangles {
	 0% {
		 transform: translateX(-250px);
	}
	 100% {
		 transform: translateX(-500px);
	}
}
 .whaleContainer {
	 position: relative;
	 transform: translateX(0);
	 animation-name: whaleTranslate;
	 animation-duration: 10s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 z-index: 7000;
}
 @keyframes whaleTranslate {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translateX(380px);
	}
}
 .whalePos {
	 position: absolute;
	 z-index: 1000;
}
 .whalePos.size1 {
	 top: 150px;
	 left: -210px;
}
 .whalePos.size2 {
	 top: 100px;
	 left: -280px;
}
 .whalePos.size3 {
	 top: 120px;
	 left: -140px;
}
 .whalePos.size4 {
	 top: 190px;
	 left: -310px;
}
 .whaleRotate {
	 position: relative;
	 width: 245px;
	 height: 110px;
	 animation-duration: 2s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
}
 .whaleRotate.size1 {
	 transform: rotate(0) scale(0.35);
	 animation-name: whaleMovementXLarge;
}
 .whaleRotate.size2 {
	 transform: rotate(0) scale(0.25);
	 animation-name: whaleMovementLarge;
}
 .whaleRotate.size3 {
	 transform: rotate(0) scale(0.15);
	 animation-name: whaleMovementMedium;
}
 .whaleRotate.size4 {
	 transform: rotate(0) scale(0.1);
	 animation-name: whaleMovementSmall;
}
 @keyframes whaleMovementXLarge {
	 0% {
		 transform: rotate(0) scale(0.35);
	}
	 100% {
		 transform: rotate(10deg) scale(0.35);
	}
}
 @keyframes whaleMovementLarge {
	 0% {
		 transform: rotate(0) scale(0.25);
	}
	 100% {
		 transform: rotate(10deg) scale(0.25);
	}
}
 @keyframes whaleMovementMedium {
	 0% {
		 transform: rotate(0) scale(0.15);
	}
	 100% {
		 transform: rotate(10deg) scale(0.15);
	}
}
 @keyframes whaleMovementSmall {
	 0% {
		 transform: rotate(0) scale(0.1);
	}
	 100% {
		 transform: rotate(10deg) scale(0.1);
	}
}
 .whale {
	 position: absolute;
	 width: inherit;
	 height: inherit;
	 background: radial-gradient(at 40% 20%, #95d6df 0%, #95d6df 35%, #6db3c2 35%, #6db3c2 60%, #6db3c2 70%, #407a8b 70%, #407a8b 100%);
	 clip-path: polygon(15% 0%, 18.5% 20%, 19% 37%, 27% 46.5%, 33% 46.5%, 42.5% 37%, 43% 26.5%, 50.5% 28.5%, 65.5% 17%, 88.5% 12.5%, 97.5% 22.5%, 100% 49.5%, 97% 65.5%, 89.5% 81.5%, 64.5% 86.5%, 43.5% 80%, 23% 59.5%, 15.5% 41.5%, 8% 40%, 1.5% 28.5%, 6.5% 25%, 12.5% 26.5%, 12% 14%);
}
 .fin {
	 position: absolute;
	 top: 75%;
	 left: 50%;
	 z-index: 5000;
	 width: 50px;
	 height: 30px;
	 background: #407a8b;
	 transform-origin: center top;
	 clip-path: polygon(30% 50%, 60% 0, 100% 0%, 80% 60%, 60% 80%, 0 100%);
	 animation-name: fin;
	 animation-duration: 2s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
}
 @keyframes fin {
	 0% {
		 transform: rotate3d(0, 0, 0, 0deg);
	}
	 100% {
		 transform: rotate3d(1, 1, 1, 30deg);
	}
}


//////////////////////////////////////**///////////////////////////////////////

.quote-duc{
min-height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote {
  font-size: 2rem;
}
cite {
  display: block;
  text-align: right;
  font-family: Verdana, Arial, sans-serif;
  margin-top: 1rem;
  font-size: .9rem;
  color: #aaa;
  font-style: normal;
}
blockquote q {
  font-style: italic;
  letter-spacing: .1rem;
}
blockquote q span { 
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
    margin-right: .8rem;
}
q:after {
  content: close-quote;
}
q:before, q:after {
  color: #ccc;
  font-size: 4rem;
}

///////////////////////////////////***/////////////////////////////////

.pages {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.page {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition: bottom .7s;
}

.page:first-child {
  bottom: 0;
}

.pagination {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.pagination>li {
    list-style: none;
    height: 20px;
    width: 20px;
    background: #000000;
    border-radius: 50%;
    margin-top: 10px;
    transition: background .7s;
}

.pagination>li.active {
    background: #ffffff;
}

.title {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}


///////////////////////////////////****////////////////////////////////////
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}